
#container {
    display: flex; /* or inline-flex */
    flex-direction: row ;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    height: 500px;
}

#tbl_div{
    display: flex; /* or inline-flex */
    flex-direction: column ;
    /*align-items: center;*/
    justify-content: center;
    align-self: flex-start;
    flex: 0 0 750px;
}

#sel_div{
    margin-right: 5px;
    display: flex; /* or inline-flex */
    flex-direction: column ;
    /*align-items: center;*/
    align-self: flex-start;
    justify-content: center;
    flex-basis: 20%
}

select{
    margin-bottom: 5px;
    /*width:100%;*/
}

#sel_dept{
    width:100%;
    height: 300px;
}

#sel_question{
    width:100%;
    margin-bottom: 10px;
}



td:nth-of-type(1) {
    width: 300px;
    text-align: left;
}


th, td {
     text-align: center;
 }


#loader {
    position: absolute;
    left: 50%;
    top: 60%;
    z-index: 1;
    width: 100px;
    height: 100px;
    margin: -75px 0 0 -75px;
    border: 10px solid Gainsboro;
    border-radius: 50%;
    border-top: 10px solid DeepSkyBlue;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

