
#container {
    display: flex; /* or inline-flex */
    flex-direction: column ;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    /*height: 500px;*/
}

#tbl_div{
    display: flex; /* or inline-flex */
    flex-direction: column ;
    /*align-items: center;*/
    justify-content: center;
    align-self: flex-start;
    /*flex: 0 0 750px;*/
}

#sel_div{
    margin-right: 5px;
    display: flex; /* or inline-flex */
    flex-direction: column ;
    /*align-items: center;*/
    align-self: flex-start;
    justify-content: center;
    /*flex-basis: 20%;*/
    /*width: 350px;*/

}


#sel_dept{
    width:100%;
    height: 300px;
}

#sel_question{
    width:100%;
    margin-bottom: 10px;
}


select{
    margin-bottom: 5px;
    margin-top: 10px;
    /*width:100%;*/
}

/*td:nth-of-type(2) {*/
    /*width: 300px;*/
    /*text-align: left;*/
/*}*/


th, td {
     text-align: center;
 }

